<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<div class="home text-center d-flex flex-column justify-content-center pt-5">
  <h1>Benvenuto nella Homepage</h1>
  <h5 class="mt-3">Effettua il login per poter visualizzare il tuo profilo</h5>
  <div class="d-flex flex-column align-items-center">
    <button routerLink="signup">
      <a routerLink="signup">Registrati</a>
    </button>
    <button routerLink="login">
      <a routerLink="login">Vai al Login</a>
    </button>
  </div>

</div>
